.modal-header {
  background-color: rgb(46, 46, 46);
}
.modal-content {
  background-color: rgb(167, 167, 167);
}

.card {
  justify-content: center;
}

.edit {
  position: absolute;
  top: 20%;
  left: 30%;
}
