#cardArt:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.76);
}

#cardArt {
  position: relative;
  background-image: url(../../../../../assets/img/articuloImg);
  background-size: cover;
}

#cardArt h5 {
  color: white;
  position: relative;
}
#cardArt button {
  color: white;
  position: relative;
}
.modal-header {
  background-color: rgb(46, 46, 46);
}
.modal-content {
  background-color: rgb(167, 167, 167);
}
.modal-title {
  text-align: center;
  width: 100%;
}
