<header class="main-header animated fadeIn faster">
    <div class="circle"></div>

    <div class="header">
        <span class="h2">El Buen Sabor <img src="assets/img/loguito2.png" class="img-fluid d-sm-block"
                style="width: 60px;"></span>

        <ul class="navigation">
            <li><i style="font-size: 25px;" class="fab fa-facebook-f"></i></li>
            <li><i style="font-size: 25px;" class="fab fa-twitter"></i></li>
            <li><i style="font-size: 26px;" class="fab fa-instagram"></i></li>
        </ul>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-left justify-content-center align-item-center align-self-center">
                <p class="h2" style="color: white;">¡Bienvenidos!<br><span class="title">El Buen Sabor</span></p>
                <p class="p" style="color: white;">En la aplicación encontrás los mejores platos y bebidas. Podes pedir
                    lo que
                    se te ocurra. Elegí
                    la forma de pago que quieras: efectivo o con tarjeta. Seguí el pedido hasta que llegue a tus
                    manos</p>
                <a class="btn " style="color: rgb(187, 187, 187);" routerLink="/home">
                    Ingresar
                </a>
                <a class="btn " style="color: rgb(187, 187, 187);" routerLink="/registro">
                    Registrarse
                </a>
                <script src="simplescrollup.js"></script>
            </div>
            <div class="col-lg-6">
                <img class="img" src="assets/img/HamburguesaDia.png" class="img-fluid d-none d-sm-block" >
            </div>
        </div>
    </div>

</header>