<header class="main-header animated fadeIn faster">
    <div class="background-overlay text-white py-5">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center justify-content-center align-self-center">
                    <p class="h1" style="color: white;">¡Bienvenidos!<br><span class="h2">El Buen Sabor</span></p>
                    <p style="color: white;">En la aplicación encontrás los mejores platos y bebidas. Podes pedir lo que
                        se te ocurra. Elegí
                        la forma de pago que quieras: efectivo o con tarjeta. Seguí el pedido hasta que llegue a tus
                        manos</p>
                    <a href="" class="btn btn-outline-danger btn-lg m-2" style="color: rgb(187, 187, 187);"
                        routerLink="/home">
                        Ingresar
                    </a>
                    <a href="" class="btn btn-outline-danger btn-lg " style="color: rgb(187, 187, 187);"
                        routerLink="/registro">
                        Registrarse
                    </a>
                    <script src="simplescrollup.js"></script>
                </div>
                <div class="col-sm-6">
                    <img src="assets/img/loguito2.png" class="img-fluid d-none d-sm-block" style="width: 450px;">
                </div>
            </div>
        </div>
    </div>
</header>