<div class="class" style="background-color: darkred;">
    <h1 class="display-3s text-center">El Buen Sabor <span class="h5">&reg;</span></h1>
    <p class="lead text-center" style="color: white;">Administración</p>
    <div class="mt-3">
        <app-navbar></app-navbar>
    </div>
</div>
<router-outlet>
    <ng-content></ng-content>
</router-outlet>

<div class="container">
    <hr>
    <div class="row">
        <div class="col-sm-6 text-center justify-content-center align-self-center">
            <p class="h4" style="color: white;">¡Bienvenidos! <br><span class="h5"> al</span><br>
                <span class="h3">El Buen Sabor</span></p>
            <script src="simplescrollup.js"></script>
            <p style="color: white;">En la aplicación encontrás los mejores platos y bebidas. Podes pedir lo que se te ocurra. Elegí la forma de pago que quieras: efectivo o con tarjeta. Seguí el pedido hasta que llegue a tus manos
            </p>
        </div>
        <div class="col">
            <img src="assets/img/loguito2.png" class="img-fluid d-none d-sm-block" style="width: 45; display: block; margin: auto;">
        </div>
    </div>
</div>