<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<h2 class="text-center m-3">Registro Personas
    <hr>
</h2>
<div class="container">
    <div class="row text-center justify-content-center align-self-center">
        <div class="col">
            <app-user></app-user>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <h3 class="col">Registro Personas</h3>
                <button class="col-2 btn btn-outline-success mr-3" type="button" data-toggle="modal" data-target="#exampleModal">
                <i class="fas fa-user-plus" style="font-size: 150%;"></i>
            </button>
            </div>
            <hr>
            <div class="card" style="width: auto;">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" *ngFor="let c of client | paginate: { itemsPerPage: 4, currentPage: p }">
                        <div class="row">
                            <div class="col text-center">
                                <h5 class="card-text"><strong class="text-muted">Nombre: </strong>{{c.nombre}} - <strong class="text-muted">email: </strong>{{c.email}}
                                </h5>
                                <p *ngFor="let v of varios" style="font-size: large;">
                                    <span class="card-text text-danger" *ngIf="c.email === v.email && v.roles=='admin'">Administrador</span>
                                    <span class="card-text text-danger" *ngIf="c.email === v.email && v.roles=='cocina'">Cocina</span>
                                </p>
                            </div>
                            <button class="col-1 btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="showCliente(c)">
                            <i class="fas fa-user"></i>
                        </button>
                            <button class="col-1 btn btn-danger btn-sm m-1" type="button" (click)="deleteClient(c._id)">
                            <i class="fas fa-trash"></i>
                        </button>
                        </div>
                    </li>
                </ul>
            </div>
            <pagination-controls class="text-center" (pageChange)="p = $event"></pagination-controls>
            <div class="mt-2">
                <div class="collapse" id="collapseExample">
                    <div class="card-header" style="background-color: darkred;"></div>
                    <div class="card card-body text-center">

                        <h3 class="card-title"><span class="text-muted" style="font-size: medium;">Usuario:</span>&nbsp;{{cliente?.apellido}} {{cliente?.nombre}}
                        </h3>
                        <p class="card-text" style="font-size: large;">
                            <span class="text-muted">Email:</span> &nbsp;{{cliente?.email}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="text-muted">Contacto:</span>&nbsp;{{cliente?.telefono}}</p>
                        <p class="card-text h5">Direccion</p>
                        <p class="card-text" style="font-size: large;">
                            <span class="text-muted">Calles:</span>&nbsp;{{cliente?.domicilio.calle}} {{cliente?.domicilio.numero}}&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="text-muted">Localidad:</span>&nbsp;{{cliente?.domicilio.localidad}}</p>
                        <p *ngFor="let v of varios" style="font-size: large;">
                            <span class="card-text text-danger" *ngIf="cliente?.email === v.email && v.roles=='admin'">Administrador</span>
                            <span class="card-text text-danger" *ngIf="cliente?.email === v.email && v.roles=='cocina'">Cocina</span>
                        </p>
                        <button class="col btn btn-primary m-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-arrow-circle-up" style="font-size:150%;"></i>
                    </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="card">
            <div class="card-header" style="background-color: darkred;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-registro></app-registro>
        </div>
    </div>
</div>