.modal-body {
    background-color: rgb(167, 167, 167);
}

.modal-header {
    background-color: rgb(46, 46, 46);
}

.btn-google {
    background-color: red;
    color: white;
}

.alert {
    position: absolute;
}